[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
build/
artifacts/

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
_ReSharper*/
*.DotSettings.user
*.dotCover

[Ll]og/
[Ll]ogs/
*.log
*.binlog
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage/
StrykerOutput/

*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
project.lock.json

AppPackages/
BundleArtifacts/
*.msix
*.msixupload
*.appx
*.appxbundle
*.appxupload
publish/
*.pubxml
PublishScripts/

Generated\ Files/
*_wpftmp.csproj

.DS_Store
Thumbs.db
